:root {
	// Fixed colors
	--clr-black: #1E1E1E; // black - aside bg color
	--clr-darkgray: #3F3F3F; // drak gray - aside link hover/active state
	--clr-lightgray: #9B9F98; // light gray - aside - link text/icon
	--clr-green: #20B982; // primary green - aside open/close btn

	// Light theme colors
	--clr-bg: #F8F9FC; // light gray
	--clr-surface: #FFFFFF; // surface white
	--clr-text-primary: #3F3F3F; // dark gray
	--clr-text-secondary: #A6AAA4; // light gray
}
