
/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('../fonts/lato/Lato-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: local(''),
       url('../fonts/lato/Lato-Light-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

