
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato/Lato-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: thin;
  font-weight: 100;
  src: local(''),
       url('../fonts/lato/Lato-Light.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: bold;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato/Lato-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato/Lato-Italic.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype'); /* Safari, Android, iOS */
}