<html>
<head>
  <title>JavaScript Function Writer by Trivial</title>
  <%- include('_head.html') -%>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PXT8J6L');</script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= analytics_id %>"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', <%-JSON.stringify(analytics_id)%>, {
    'linker': {
      'accept_incoming': true
    }
  });
  </script>

</head>

<body>
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXT8J6L"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<div id="functionWriter">
		<function-writer></function-writer>
	 </div>
</body>

<script type="text/javascript" src='../packs/FunctionWriter.js'></script>
</html>