.contract_tooltip {
	position: relative;
	width: 2rem;
}

.contract_tooltip .tooltip_content {
	position: absolute;
	top: -50%;
	right: 130%;
	z-index: 999;
	opacity: 0;
	transition: all 800ms;
	visibility: hidden;
}

.contract_tooltip:hover .tooltip_content {
	opacity: 1;
	visibility: visible;
}

.error-fill {
	fill: #D85C57;
}

.success-fill {
	fill: #61C746;
}