.contracts__table {

	svg {
		fill: var(--on-surface-secondary); /* Default bar color */
	}

	.mixed-fill {
		fill: #F08447;
	}

	.error-fill {
		fill: #D85C57;
	}

	.success-fill {
		fill: #61C746;
	}

	.contract__add--btn {
		border-color: var(--primary);
		color: var(--on-primary);
		background: var(--primary);
	}

	.contracts__search:focus {
		outline-color: var(--primary);
	}

	.activity__success--link {
		color: var(--primary);
	}
}