.actuals {
	width: calc((100% - 5.250rem) / 5);
	gap: 0 3rem;

}

.text-muted {
	color: var(--grey-400);
}

.indicator__icon.up {
	color: var(--primary);
}

.indicator__icon.down {
	color: #ff0000;
}

.info__btn {
	width: 1.1rem;
	height: 1.1rem;
}

.w-50 {
	width: calc(50% - .5rem);
}

.w-30 {
	width: calc(33% - .35rem);
}

.revenue__gross__table {
	& div.p-datatable-loading-overlay.p-component-overlay {
		flex-direction: column;
		color: var(--onBackground);
		background-color: color-mix(in srgb, var(--background) 80%, transparent);
	}

	& th.month__col {
		& div.p-column-header-content {
			justify-content: flex-end;
		}
	}
}

.revenue__per__hour__table {

	tr {
		th:first-child {
			& div {
				justify-content: flex-start;
			}
		}

		th {
			& div {
				justify-content: flex-end;
			}
		}

		td:first-child {
			text-align: left;
		}

		td {
			text-align: right;
		}

		td:last-child {
			font-weight: 600;
		}
	}

	& .footer__col {

		& .info__btn {
			width: 16px;
			height: 16px;
		}
	}

	// Heat map classes and colors
	.percentage-10 {
		color: #334155;
		background-color: #E3F4FF; // 0 - 10%
	}

	.percentage-20 {
		color: #334155;
		background-color: #D6EEFF; // 10% - 20%
	}

	.percentage-30 {
		color: #334155;
		background-color: #B7DCF7; // 20% - 30%
	}

	.percentage-40 {
		color: #334155;
		background-color: #99D5FF; // 30% - 40%
	}

	.percentage-50 {
		color: #334155;
		background-color: #7FC7FA; // 40% - 50%
	}

	.percentage-60 {
		color: white;
		background-color: #47B3FF; // 50% - 60%
	}

	.percentage-70 {
		color: white;
		background-color: #1FA2FF; // 60% - 70%
	}

	.percentage-80 {
		color: white;
		background-color: #008FF5; // 70% - 80%
	}

	.percentage-90 {
		color: white;
		background-color: #0083E0; // 80% - 90%
	}

	.percentage-100 {
		color: white;
		background-color: #0077CC; // 90% - 100%
	}
}