header.main__header {
	display: grid;
    grid-template-rows: 2fr;
    padding-inline: 34px;
    padding-block: 10px;
	box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    background-color: var(--surface);

    & .main__header__top {
		grid-row: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& h1 {
			margin: unset;
			text-transform: capitalize;
			color: var(--on-surface);
		}

		& .main__header__top__mobile__menu {
			display: none;
		}

		& .main__header__top__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 0 1rem;

			& .main__header__top__content__dropdown {
				width: 15rem;
			}
		}
    }

    & > .breadcrumbs {
    	grid-row: 2;
		display: flex;
		align-items: center;
		background: unset;

		& .breadcrumb {
			display: flex;
			align-items: center;
			background: unset;

			& a {
				color: var(--primary);

				&:focus {
					outline: none;
				}
			}

			& .delimiter {
				margin-inline: 4px;
				color: var(--on-surface);
			}

			& .item__last {
				font-weight: 500;
				pointer-events: none;
				color: var(--on-surface);
			}
		}
    }

	& h1.main__header__mobile__title {
		display: none;
	}
}


@media only screen and (max-width: 430px) {

	header.main__header {
		padding-inline: 10px;
		box-shadow: unset;
		background-color: var(--background);

	    & .main__header__top {
	    	gap: 0 1.5rem;

			& h1 {
				display: none;
			}

			& .main__header__top__mobile__menu {
				display: block;

				& span.p-button-label {
					display: none;
				}
			}

			& .main__header__top__content {
				gap: unset;

				& .main__header__top__content__dropdown {
					background-color: var(--background);
				}

				& .main__header__top__content__theme-btn {
					margin-inline: 6px;
				}
			}
		}

		& h1.main__header__mobile__title {
			display: block;
			font-size: clamp(1rem, 6vw, 2rem);
		}

		& .breadcrumbs {
			display: none;
		}
	}
}