header.main__header {
	display: grid;
    grid-template-rows: 2fr;
    padding-inline: 34px;
    padding-block: 10px;
    background-color: var(--clr-surface);

    & .main__header__top {
		grid-row: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& h1 {
			margin: unset;
			text-transform: capitalize;
			color: var(--clr-text-primary);
		}

		& .main__header__top__content {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 0 1rem;

			& .main__header__top__content__dropdown {
				width: 15rem;
				background-color: var(--clr-bg);

				& .p-dropdown-label.p-inputtext {
					color: var(--clr-text-secondary);
				}
			}

			& .main__header__top__content__user-btn {
				color: var(--clr-text-secondary);
				border-color: var(--clr-bg);
				background-color: var(--clr-bg);
			}

			& .main__header__top__content__theme-btn {

				& div.p-button.p-component.p-button-icon-only {
					border-color: var(--clr-bg);
					background-color: var(--clr-bg);

					& span.p-button-icon {
						color: var(--clr-text-secondary);
					}
				}
			}
			

			/*& .main__header__top__content--link {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 32px;
				aspect-ratio: 1;
				border-radius: 6px;
				outline: 2px solid #eee;
				font-size: 1.25rem;
				color: var(--background-60);
				background-color: $clr-bg;
			}*/
		}
    }

    & > .breadcrumbs {
    	grid-row: 2;
		display: flex;
		align-items: center;

		& .breadcrumb {
			display: flex;
			align-items: center;

			& a {
				color: var(--clr-green);

				&:focus {
					outline: none;
				}
			}

			& .delimiter {
				margin-inline: 4px;
				color: var(--clr-text-primary);
			}

			& .item__last {
				font-weight: 500;
				pointer-events: none;
				color: var(--clr-text-primary);
			}
		}
    }
}