.apikeys__table {

	& .apikeys__table__add--btn {
		color: var(--on-primary);
		background-color: var(--primary);
	}

	& .apikeys__table__action {
		width: 3rem;
	}
}


.apikey__dialog {
	width: 28rem;

	& .p-dialog-header {
		& .p-dialog-title {
			font-size: 1.8rem;
			font-weight: 500;
		}
	}

	.modal__cancel--btn {
		color: var(--on-background);
	}

	.modal__next--btn {
		color: var(--on-primary);
		background-color: var(--primary);

		&.delete--btn {
			background-color: #D85C57;
		}
	}

	.apikey__dialog__copy--btn {
		cursor: copy;
	}
	
	.apikey__dialog__msg {
		& svg.p-icon.p-message-icon, button.p-message-close.p-link {
			align-self: flex-start;
		}

		& svg.p-icon.p-message-icon {
			margin-top: .5rem;
		}
	}

	& .apikey__dialog__muted--txt {
		color: #D6D6D6;
	}
}
