.registers_table {

	& div.p-datatable-loading-overlay.p-component-overlay {
		flex-direction: column;
		color: #FFF;
	}

	& .calendar__search {
		height: 2.125rem;
	}

	& table thead {
		text-transform: capitalize;

		& tr:first-child > th {
			width: calc(100% / var(--cols));
			max-width: 135.66px;
			min-width: 100px;
			font-size: .9rem;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			background-color: var(--surface-50);

			&:hover {
				background-color: var(--surface-100);
			}
		}
	}

	& table tbody {
		& tr > td {
			width: calc(100% / var(--cols));
			max-width: 135.66px;
			min-width: 100px;

			& > div {
				width: 100%;
				max-width: 130px;
				min-width: 100px;
				font-size: .9rem;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
			}
		}
	}

	& .footer__col {

		& > div {
			width: calc(100% / var(--cols));
			max-width: 135.66px;
			min-width: 100px;
		}
	}
}

input[type="text"].p-inputtext {
    color: #334155;
    padding: .5rem .75rem;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline-color: transparent;
}