.registers_table {

	& div.p-datatable-loading-overlay.p-component-overlay {
		flex-direction: column;
		color: var(--gray-900);
		background-color: rgba(255, 255, 255, .7);
	}

	& .calendar__search {
		height: 2.125rem;
	}

	& table thead {
		text-transform: capitalize;

		& tr > th {
			& div {
				justify-content: center;
			}
		}

		& tr:first-child > th {
			width: calc(100% / var(--cols));
			max-width: 146px;
			min-width: 120px;
			font-size: .9rem;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
			background-color: var(--surface-50);

			&:hover {
				background-color: var(--surface-100);
			}
		}
	}

	& table tbody {
		& tr > td {
			width: calc(100% / var(--cols));
			max-width: 146px;
			min-width: 120px;

			& > div {
				justify-content: center;

				& > span {
					font-size: .9rem;
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;
				}
			}

			& > div.date {
				font-weight: 600;
			}

			& > div.time {
				font-size: .8rem;
				color: var(--gray-500);
			}
		}
	}

	& .footer__col {
		max-width: 100%;

		& > div {
			width: calc(100% / var(--cols));
			max-width: 146px;
			min-width: 120px;
			text-align: center;
		}

		& > div:first-child {
			text-align: inherit;
		}

		& .info__btn {
			width: 14px;
			height: 14px;
		}
	}
}

div.p-column-filter-buttonbar {
	& .date__apply-btn {
		background-color: $primary;
	}

	& .date__clear-btn {
		color: $primary;
	}
}

input[type="text"].p-inputtext {
    color: #334155;
    padding: .5rem .75rem;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    outline-color: transparent;
}
.editInput {
	width: 100%;
}