.menu {
	position: relative;
	display: grid;
	align-content: start;
	width: 260px;
	padding-block: 40px;
	padding-right: 10px;
	transition: width 400ms ease-in-out;
	background-color: var(--clr-black);

	&.close {
		width: 100px;

		& nav.aside__nav {
			& .aside__nav__link {
				& div {
					& span {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
	}

	& > .menu__close--btn {
		position: absolute;
		top: 3.1rem;
		left: calc(100% - .9rem);
		z-index: 100;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.8rem;
		aspect-ratio: 1;
		border-radius: 50%;
		outline: none;
		border: none;
		cursor: pointer;
		font-size: 1rem;
		line-height: 1.5;
		color: white;
		background-color: var(--clr-green);
	}

	& > a {
		&:focus {
			outline: none;
		}

		img.menu__logo {
			display: block;
			margin-left: 24px;
			max-width: 100%;
			width: 55%;
			height: 50px;
			object-fit: contain;
			transition: all 400ms ease-in-out;
		}
	}

	& nav.aside__nav {
		display: grid;
		gap: .5rem;
		align-items: center;
		width: 100%;
		height: 100%;
		margin-top: 40px;
		font-size: 1.2rem;
		font-weight: 600;

		& .aside__nav__link {
			display: flex;
			align-items: center;
			height: 60px;
			padding-inline: 20px;
			border-left: 4px solid transparent;
			transition: border-color 400ms ease-in-out;
			color: var(--clr-lightgray);

			&:hover, &.router-link-exact-active {
				border-color: var(--clr-green);

				& div {
					color: var(--clr-green);
					background-color: var(--clr-darkgray);
				}
			}

			&:focus {
				outline: none;
			}

			/*&:last-child {
				transform: translateY(350%);
			}*/

			& > div {
				position: relative;
				display: flex;
				align-items: center;
				gap: 0 .75rem;
				width: 100%;
				height: 100%;
				padding-inline: 20px;
				border-radius: 6px;
				overflow: hidden;
				transition: color 400ms ease-in-out, background-color 400ms ease-in-out;

				& span {
					position: absolute;
					left: 3.5rem;
					font-size: 1.05rem;
					line-height: 1;
					transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
				}
			}

			&.aside__nav__link--sublink {
				justify-content: flex-end;
				
				& > div {
					width: 85%;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.menu {
		width: 100px;

		& > .menu__close--btn {
			display: none;
		}

		& nav.aside__nav {
			& .aside__nav__link {
				& div {
					& span {
						opacity: 0;
						visibility: hidden;
					}
				}
			}
		}
	}
}