/* Light theme */
html[color-scheme="light"] {
  color-scheme: light;

  --clr-bg: #F8F9FC; // light gray
  --clr-surface: #FFFFFF; // surface white
  --clr-text-primary: #3F3F3F; // dark gray
}

/* Dark theme override */
html[color-scheme="dark"] {
  color-scheme: dark;

  --clr-bg: #3F3F3F; // dark bg
  --clr-surface: #1E1E1E; // light surface color
  --clr-text-primary: #FFFFFF; // white text
}


/* Dark theme (system preference) - Default (same as dark theme override) */
@media (prefers-color-scheme: dark) {
  html:not([color-scheme]) {
    color-scheme: dark;

    --clr-bg: #3F3F3F; // dark bg
    --clr-surface: #1E1E1E; // light surface color
    --clr-text-primary: #FFFFFF; // white text
  }
}