/* Light theme */
html[color-scheme="light"] {
  color-scheme: light;

  // Background color
  --background: #F8F9FC; // light gray
  --surface: #FFFFFF; // surface white

  // Text color
  --on-background: #3F3F3F; // dark gray
  --on-surface: #3F3F3F; // dark gray
  --on-background-secondary: #A6AAA4; // light gray
  --on-surface-secondary: #A6AAA4; // light gray
}

/* Dark theme override */
html[color-scheme="dark"] {
  color-scheme: dark;

  // Background colors
  --background: #2F2F2F; // dark bg
  --surface: #18181b; // light surface color
  
  // Text colors
  --on-background: #FFFFFF; // white text
  --on-surface: #FFFFFF; // white text
  --on-background-secondary: #A6AAA4; // light gray
  --on-surface-secondary: #A6AAA4; // light gray
}


/* Dark theme (system preference) - Default (same as dark theme override) */
@media (prefers-color-scheme: dark) {
  html:not([color-scheme]) {
    color-scheme: dark;

    // Background colors
    --background: #3F3F3F; // dark bg
    --surface: #18181b; // light surface color

    // Text colors
    --on-background: #FFFFFF; // white text
    --on-surface: #FFFFFF; // white text
    --on-background-secondary: #A6AAA4; // light gray
    --on-surface-secondary: #A6AAA4; // light gray
  }
}