@use 'sass:color';

// MiamiVice, by James Marks
$background: rgb(29,24,21);
$surface: #2B2724; // teal
$primary: rgb(159 228 234);
$primary-darker: #000;
$secondary: #f3acf5; // pink
$secondary-darker:  rgb(196 106 189);
$accent: #EDFD5B; // neon yellow
$error: #FF7A7A;
$series-1: #00ffa1;
$series-2: #ba29de;
$series-3: #059db5;


$on-background: rgb(204 204 204);
$on-surface: $on-background;
$on-primary: #3e3e3e;
$on-primary-darker: #ffffff;
$on-secondary: #2b2724; // gray
$on-secondary-darker: rgb(32 59 61);
$on-accent: #000;
$on-error: #ffffff;

$link: $primary;

$scrim-opacity: 0.32;
$scrim-color: color.change($on-surface, $alpha: $scrim-opacity);
$input-border-color: color.adjust($background, $lightness: -30%);