@use 'sass:color';

// Midenight theme by James Marks
// Inspired by Atelier Sulpherpool Bram de Haan (http://atelierbramdehaan.nl)

$background: #181d2f;
$background-high-contrast: #201f29;
$surface: #202746;
$primary: #594dc1;
$primary-darker: #000;
$secondary: #6e54bd;
$secondary-darker:  rgb(196 106 189);
$accent: #3d8fd1;
$error: #ff7a7a;
$series-1: #2567ff;
$series-2: #00bdef;
$series-3: #3a2e9e;

$on-background: #979db4;
$on-background-high-contrast: #979db4;
$on-surface: #6679cc;
$on-primary: #ffffff;
$on-primary-darker: rgb(255, 255, 255);
$on-secondary: #d4d9ff;
$on-secondary-darker: rgb(32 59 61);
$on-accent: #adadad;
$on-accent-20: #908c8a;
$on-error: rgb(255, 255, 255);

$link: $on-surface;

$scrim-opacity: 0.32;
$scrim-color: color.change($on-surface, $alpha: $scrim-opacity);
$input-border-color: color.adjust($background, $lightness: -30%);
$table-column-head-color: $primary;
$success-icon: url("/assets/images/check-circle-light.svg");
$webhook-pre-color: $accent;
$auth-text-field-color: $primary;
$auth-button-font-color: $background-high-contrast;
$logo: url("/assets/images/trivial-logo-simplified-dark-on-light.svg");
$auth-border-color: $primary;
$auth-button-gradient: linear-gradient(45deg, #45c400, #00bdef, #2567ff);